%%-*- mode: erlang -*-
{eunit_opts, [verbose]}.
{so_name, "relliptics.so"}.

{port_specs, [{"priv/relliptics.so", ["c_src/*.cpp"]}]}.

{port_env, [
	     {"CC", "g++"},
             {"CXXFLAGS", "$CFLAGS -pipe -std=c++0x -Wall -Wextra -O2 -g -fPIC -Ic_include"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS -pipe -std=c++0x -O2 -g -fPIC -Wall -Wextra -Wl,-rpath,priv -Lpriv -lelliptics_client -lelliptics_cpp "}
             ]}.

